@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
  padding: 0px;
  margin: 0px;
}

body {


}


h1,p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 20px;
}
.textbox {
  border: black 1px solid;
  margin: 10px;
  width: 250px;
}
.container {
  background-color: #9cfff8;
  border:  1px solid;
  margin: 10px;
  width: 750px;
  height: 750px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.box1 {
  background-color: #87ff7c;
  border:  1px solid;
  width: 250px;
  height: 250px;


}